<div class="navbar">
    <h1>Ecomm</h1>
    <div class="search">
        <input type="text" placeholder="Search Product">
        <button>Search</button>
    </div>
    <ul>
        <li><a routerLink="/app-home">Home</a></li>
        <li><a routerLink="#">Login</a></li>
        <button (click)="logout()">Logout</button>
        <li><a routerLink="#">Register</a></li>
        <li><a routerLink="/app-seller-auth">Seller Auth</a></li>
        <li><a routerLink="/app-add-product">Add product</a></li>
    </ul>
</div>