.myform{
    width: fit-content;
    margin: auto;
    input{
        display: block;
        margin: 20px 0;
        padding: 10px;
        border: 2px solid cadetblue;
    }
    button{
       
        padding: 10px; 
        background-color: cadetblue;
        color:white;
        border: none;
        width: 100%; 
    }
}